.sCompare{
    background-color: #E8F2EE;
    height: 58.2rem;
    overflow: hidden;
}

.sCompare .container{
    padding-top: 21.8rem;
}

.sCompare .container .left p{
    font-size: 1.4rem;
    font-weight: 500;
}

.sCompare .container .left h1{
    font-size: 7rem;
    font-weight: 500;
}

.sCompare .container .right{
    position: relative;
    top: 0;
}

@media (max-width: 991px){
    .sCompare {
        height: 41.2rem;
    }
    .sCompare .container{
        padding-top: 14.8rem;
    }
    .sCompare .container .left h1 {
        font-size: 5.5rem;
    }
    .sCompare .container .right img{
        max-width: 37.4rem;
    }
}

@media (max-width: 720px){
    .sCompare{
        height: 37.2rem;
    }
    .sCompare .container{
        text-align: center;
        justify-content: center;
    }
    .sCompare .container .right{
        display: none;
    }
}

@media (max-width: 400px){
    .sCompare .container .left h1 {
        font-size: 4.5rem;
    }
}

.creditTable{
    margin-bottom: 9.6rem;
}

.creditTable .containerTable .title{
    border-bottom: 2px solid #E8E8E8;
}

.creditTable .containerTable .title h5{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.6rem;
}

.creditTable .containerTable .boxList .linesContent{
    padding: 3.2rem 0;
    border-bottom: 2px solid #E8E8E8;
}

.creditTable .containerTable .boxList .linesContent .boxTitle .image{
    background-color: #E8F2EE;
    border-radius: 50%;
    padding: 1.1rem;
    margin-right: 1.5rem;
}

.creditTable .containerTable .boxList .linesContent .boxTitle .image img{
    max-width: 2.8rem;
    height: 2.8rem;
}

.creditTable .containerTable .boxList .linesContent .boxTitle .text p{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: .3rem;
}
.creditTable .containerTable .boxList .linesContent .boxTitle .text span{
    font-size: 1.3rem;
    color: rgba(26, 25, 30, 0.671);
}

.creditTable .containerTable .boxList .linesContent .column{
    position: relative;
    left: -6rem;
}

.creditTable .containerTable .boxList .linesContent .column1{
    left: -3rem;
}
.creditTable .containerTable .boxList .linesContent .column2{
    left: -.5rem;
}
.creditTable .containerTable .boxList .linesContent .column3{
    left: -4rem;
}
.creditTable .containerTable .boxList .linesContent .column4{
    left: -5rem;
}
.creditTable .containerTable .boxList .linesContent .column5{
    left: -4.5rem;
}
.creditTable .containerTable .boxList .linesContent .column6{
    left: -2.5rem;
}
.creditTable .containerTable .boxList .linesContent .column7{
    left: -4rem;
}
.creditTable .containerTable .boxList .linesContent .column8{
    left: -5.5rem;
}

.creditTable .containerTable .boxList .linesContent .column span{
    font-size: 1.6rem;
    font-weight: 500;
}

.creditTable .containerMargin{
    margin-top: 9.6rem;
}

@media (max-width: 680px){
    .creditTable .containerTable .boxList .linesContent .boxTitle .image {
        display: none;
    }
    .creditTable .containerTable .boxList .linesContent .column {
        display: none;
    }
    .creditTable .containerTable .boxList .linesContent .columnBlock {
        display: block;
    }
}

@media (max-width: 425px){
    .creditTable .containerTable .boxList .linesContent .boxTitle .text p {
        font-size: 1.4rem;
    }
    .column, .column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .columnBLeft, .columnBlock{
        position: relative !important;
        left: 0 !important;
    }
    .sChoose .bottom .cardContainer .image{
        margin-right: 0px;
    }
}

.haveQuestion {
    margin-bottom: 9.6rem;
}

.haveQuestion .boxGreen{
    background-color: #5BB5A2;
    color: #fff;
    width: 100%;
    max-width: 100rem;
    height: 13rem;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3.2rem;
}

.haveQuestion .boxGreen .textContent h5{
    font-size: 2rem;
    margin-bottom: .6rem;
}

.haveQuestion .boxGreen .textContent .fontP{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.822);
}

.textH6{
    font-size: 1.6rem;
    margin-bottom: .6rem;
}

.image{
    margin-right: 1.6rem;
}

.buttonContent .btnWithUs{
    font-size: 1.4rem;
    background-color: #1A191E;
    color: #fff;
    padding: 1.6rem 2.4rem;
    border-radius: 6px;
    transition: all .4s;
}

.buttonContent .btnWithUs:hover{
    background-color: rgba(30, 29, 34, 0.801);
}

@media (max-width: 820px){
    .haveQuestion .boxGreen .textContent h5{
        font-size: 1.6rem;
    }

    .haveQuestion .boxGreen .textContent .image{
        display: none;
    }
}

@media (max-width: 700px){
    .haveQuestion .boxGreen{
        flex-wrap: wrap;
        height: 26rem;
    }
}

@media (max-width: 390px){
    .haveQuestion .boxGreen{
        height: 41rem;
    }
}