.sAllCards, .sChoose{
   margin-top: 16rem;
   margin-bottom: 16rem;
}

.sAllCards .top, .sChoose .top{
    text-align: center;
}

.sAllCards .top .title, .sChoose .top .title{
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.sAllCards .top .textDescription, .sChoose .top .textDescription{
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: 40rem;
    line-height: 150%;
}

.sAllCards .bottom{
    margin-top: 9.6rem;
}

.sAllCards .bottom .topContainer{
    gap: 3.2rem;
}

.sAllCards .bottom .topContainer .cardContainer, .sAllCards .bottom .bottomContainer .cardContainer{
    width: 100%;
    max-width: 58.4rem;
    height: 50rem;
    background-color: #F8F8F8;
    overflow: hidden;
    border-radius: 15px;
    padding: 6.4rem 9.3rem 0 9.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sAllCards .bottom .bottomContainer{
    margin-top: 3.2rem;
    gap: 3.2rem;
}

.sAllCards .bottom .bottomContainer .cardContainer{
    padding: 5.6rem 4.7rem;
    max-width: 37.8rem;
    height: 55rem;
}

.sAllCards .bottom .topContainer .cardContainer h4{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .8rem;
}

.sAllCards .bottom .topContainer .cardContainer p{
    font-size: 1.8rem;
    text-align: center;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: .8rem;
    color: rgba(26, 25, 30, 0.589);
}

.sAllCards .bottom .topContainer .cardContainer img{
    width: 100%;
    max-width: 38rem;
    position: relative;
    top: 4rem;
}

.sAllCards .bottom .topContainer .cardContainer .cards{
    display: flex;
    justify-content: center;
}

.sAllCards .bottom .topContainer .cardContainer .cards img{
    transform: rotate(90deg);
    width: 100%;
    max-width: 37rem;
    height: 22rem;
    position: relative;
}

.sAllCards .bottom .topContainer .cardContainer  .cards .green{
    top: 13.9rem;
}

.sAllCards .bottom .topContainer .cardContainer .cards .golden{
    top: 22rem;
    left: -10rem;
}

.sAllCards .bottom .topContainer .cardContainer .cards .black{
    top: 22rem;
    right: -10rem;
}

.sAllCards .bottom .bottomContainer .cardContainer{
    align-items: start;
}

.sAllCards .bottom .bottomContainer .cardContainer h4{
    font-size: 4rem;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: .8rem;
}

.sAllCards .bottom .bottomContainer .cardContainer p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(26, 25, 30, 0.589);
}

.sAllCards .bottom .bottomContainer .cardContainer .image .logos{
    margin-top: 5.8rem;
    width: 38rem;
    height: 20rem;
    position: relative;
    left: -5rem;
}

.sAllCards .bottom .bottomContainer .cardContainer .image .savingImage{
    margin-top: 8rem;
    width: 34rem;
    height: 21.9rem;
}

.sAllCards .bottom .bottomContainer .cardContainer .image .transactionsImage{
    margin-top: 5rem;
    width: 31rem;
    height: 28.1rem;
    position: relative;
    left: -2rem;
}

.sChoose .bottom{
    margin-top: 9rem;
}

.sChoose .bottom .cardContainer{
    width: 100%;
    max-width: 35.7rem;
    text-align: center;
}

.sChoose .bottom .cardContainer .text{
    margin-bottom: 2.4rem;
}

.sChoose .bottom .cardContainer .text .basic{
    gap: .8rem;
    margin-bottom: .7rem;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.sChoose .bottom .cardContainer .text .basic .greenSpan{
    font-size: 1.2rem;
    color: #5BB5A2;
    background-color: rgba(101, 190, 171, 0.199);
    padding: .8rem;
    border-radius: 8px;
}

.sChoose .bottom .cardContainer .text h3{
    font-size: 3.5rem;
    margin-bottom: .8rem;
}

.sChoose .bottom .cardContainer .text p{
    font-size: 1.6rem;
    color: rgba(26, 25, 30, 0.589);
    max-width: 22rem;
    margin: 0 auto;
    line-height: 150%;
}

.sChoose .bottom .cardContainer .buttons .btn{
    width: 100%;
    margin-top: 2.4rem;
}

@media (max-width: 1170px){
    .sAllCards .bottom .topContainer .cardContainer .cards img{
        height: 17rem;
    }
}

@media (max-width: 1120px){
    .sChoose .bottom .cardContainer {
        max-width: 30rem;
    }
}

@media (max-width: 991px){
    .sAllCards .bottom .topContainer {
        flex-direction: column;
    }
    .sAllCards .bottom .bottomContainer {
        flex-direction: column;
    }
    .sChoose .bottom {
        margin-top: 9rem;
        flex-direction: column;
        gap: 8rem;
    }
}

@media (max-width: 550px){
    .sAllCards .bottom {
        margin-top: 5rem;
    }
    .sAllCards {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .sAllCards .bottom .topContainer .cardContainer .cards .golden, .sAllCards .bottom .topContainer .cardContainer .cards .black{
        display: none;
    }
}

@media (max-width: 490px){
    .sAllCards .top .title, .sAllCards .bottom .bottomContainer .cardContainer h4 {
        font-size: 3rem;
    }
    .sAllCards .bottom .topContainer .cardContainer, .sAllCards .bottom .bottomContainer .cardContainer {
        max-width: 48.4rem;
        height: 40rem;
        padding: 5rem;
    }
    .sAllCards .bottom .topContainer .cardContainer .cards .green {
        top: 10rem;
        border-radius: 10px;
    }
    .sAllCards .bottom .bottomContainer .cardContainer .image .logos {
        margin-top: 3.8rem;
        left: -2.5rem;
    }
    .sAllCards .bottom .bottomContainer .cardContainer .image .savingImage {
        margin-top: 3rem;
        width: 25rem;
        height: 15.9rem;
    }
    .sAllCards .bottom .bottomContainer .cardContainer .image .transactionsImage{
        left: 0;
    }
    .sAllCards, .sChoose {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .sAllCards .top .title, .sChoose .top .title {
        font-size: 3rem;
    }
    .sAllCards .top .textDescription, .sChoose .top .textDescription {
        font-size: 1.4rem;
        max-width: 30rem;
    }
    .sChoose .bottom {
        margin-top: 6rem;
    }
    .sChoose .bottom .cardContainer .text h3 {
        font-size: 2.7rem;
    }
}

@media (max-width: 490px){
    .sAllCards .bottom .bottomContainer .cardContainer .image .transactionsImage{
        left: -2.5rem;
    }
}